<div class="container">
  <p class="p1">NHTSA Viewer</p>
  <div style="display: flex;padding-left: 10rem;">
    <div>
      <div class="div1">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput [(ngModel)] = "x">
          </mat-form-field>
        </div>
          <div>
            <button mat-raised-button color="primary" (click) = "getDataval()">Search</button>
          </div>
      </div>
      <div class="div3">
          <div>
            <button mat-raised-button color="primary" (click) = "clearbtn()">Clear Results</button>
          </div>
      </div>

    </div>
    <div style="padding-left: 10rem;">
      <div class="div2">
        <!-- <p class="p2">Make_Name</p> -->
         
        <p class="p2">Mfr_Name</p>
        <p style="color: maroon;font-weight: 550;">{{dataval.SearchCriteria}}</p>
        <ul *ngFor = "let val of dataval.Results" style="text-align: left;
        font-size: 11px;">
         <li> {{val.Mfr_Name}}</li>
      </ul>
      </div>
    </div>
  </div>
</div>
