
.container {
    background-color: #dee0e2;
    height: 70%;
    padding: 0;
}
.p1 {
    background-color: #3f51b5;
    color: white;
    padding: 1rem;
}
.div1 {
    border: 1px solid #c7bfbf;
    padding: 2rem;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    width: auto;
    text-align: center;
    position: relative;
    top: 2rem;
}
.div2 {
    border: 1px solid #c7bfbf;
    padding: 2rem;
    background-color: white;
    text-align: center;
    width: 17rem;
    height: 210px;
    overflow-y: scroll;
    border-radius: 0;
}
.div3 {
    border: 1px solid #c7bfbf;
    padding: 2rem;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    width: auto;
    text-align: center;
    position: relative;
    top: 4rem;
}
.p2 {
    font-family: arial; 
    font-weight: 550
}

